{% extends 'layout.html' %}

{% block title %}Change Password{% endblock %}

{% block main %}
<form action="/changepass" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old-pass" name="old-pass" placeholder="Old Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="new-pass" name="new-pass" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirm-new-pass" name="confirm-new-pass" placeholder="Confirm New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}