{% extends 'layout.html' %}

{% block title %}Movies{% endblock %}

{% block head %}
   <head>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">
      <link rel="stylesheet" href="/static/mdb.min.css">
      <title>MyTVList: Movies</title>
      <style>body {
      background-color: hsl(0, 0%, 94%)
        }</style>
      <style>INPUT:-webkit-autofill,SELECT:-webkit-autofill,TEXTAREA:-webkit-autofill{animation-name:onautofillstart}INPUT:not(:-webkit-autofill),SELECT:not(:-webkit-autofill),TEXTAREA:not(:-webkit-autofill){animation-name:onautofillcancel}@keyframes onautofillstart{}@keyframes onautofillcancel{}</style>
   </head>
{% endblock %}

{% block main %}
<div class="container my-5">
    <div class="shadow-4 rounded-5 overflow-hidden">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th style="text-align:left;" class='m-auto'>Title</th>
                    <th>Year</th>
                    <th>Type</th>
                    <th>Rating</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                           <div>
                           <p class="fw-bold mb-1">{{movie.title}}</p>
                           </div>
                        </div>
                    </td>
                    <td>
                        <p class="text-muted mb-0">{{movie.year}}</p>
                    </td>
                    <td>
                        <span class="badge badge-primary rounded-pill">Movie</span>
                    </td>
                    <td>{{movie.RATING}}  <i class="fas fa-star"></i></td>
                    <td>
                        <form action="/movies" method="post">
                            <input type="hidden" value="{{movie.id}}" name="rem_movie">
                            <button type="submit" class="btn btn-danger btn-floating"><i class="fas fa-times"></i></button>
                        </form>
                    </td>
                    {%endfor%}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
